<div class="row placeholders my-dash">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="../../assets/dashboard/beaker.png" width="200" height="200"  alt="Generic placeholder thumbnail">
    <h4>METANOL</h4>
    <span class="text-muted">{{methanol}}</span>%
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="../../assets/dashboard/tree2.jpg" width="200" height="200" class="img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="../../assets/dashboard/worker.jpg" width="200" height="200" class="img-circle" alt="Generic placeholder thumbnail">
    <h4>KONTAKT Z ZAŁOGĄ</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="../../assets/dashboard/thermo.jpg" width="200" height="200" class="img-circle" alt="Generic placeholder thumbnail">
    <h4>TERMAL</h4>
    <span class="text-muted">{{thermal}}</span>&deg;C
  </div>
</div>
