<app-dashboard></app-dashboard>

<!--<div>-->
<!--    <div style="display: block">-->
<!--        <canvas baseChart height="100"-->
<!--                [datasets]="barChartData"-->
<!--                [labels]="lineChartLabels1"-->
<!--                [options]="barChartOptions"-->
<!--                [legend]="barChartLegend"-->
<!--                [chartType]="barChartType"-->
<!--                (chartHover)="chartHovered($event)"-->
<!--                (chartClick)="chartClicked($event)"></canvas>-->
<!--    </div>-->
<!--  -->
<!--</div> -->

<div class="row">
    <div class="">
      <p *ngIf="!lineChartData1">
        <em>Loading...</em>
      </p>
        <div style="display: block;">
            <canvas baseChart width="400" height="100"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels1"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>
<br/>
<input type="button" class="btn-default" value="ODŚWIEŻ" (click)="randomize()"/>
