<app-dashboard></app-dashboard>
<h3>KOLUMNA DESTYLACYJNA I REKTYFIKACYJNA: DANE</h3>
<br/>
<div >
    <nav class="navbar navbar-default" role="navigation" style="width: 1400px; padding-top: 7px; padding-left: 10px;" >
        <div style="float: left;padding-top: 8px;">
            <label>Start</label>
        </div>
        <div style="float: left; ">           
            <input type="date" id="startFiltr" #filtrStart class="form-control" style="width: 160px; margin-left: 10px; border-left: 5px solid green" (change)="getColumnsFilter(filtrStart.value); filtrKoniec.removeAttribute('disabled')"/>
        </div>
        <div style="float: left;padding-top: 8px; padding-left: 10px;">
        <label>Koniec</label>
        </div>
        <div style="float: left; margin-left: 5px;">       
            <input type="date" id="koniecFiltr" #filtrKoniec class="form-control" style="width: 160px; border-left: 5px solid green" disabled="disabled" (change)="getColumnsRange(filtrStart.value,filtrKoniec.value)" />
        </div>
      <div style="float: left; margin-left: 155px;">
        <input type="button" class="btn btn-default" value="test" style="width: 120px;" (load)="toogleFlip()" [@enter]="flip"/>
      </div>
    </nav>
</div>
<p *ngIf="!columnsData"><em>Loading...</em></p>
<div id="daneKolumna" class="container" style="overflow-y: scroll;  height: 480px; margin-left: 10px; width: 1400px;" >
  <table class='table' *ngIf="columnsData" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Kolumna destylacyjna</th>
        <th>Kolumna rektyfikacyjna (dol)</th>
        <th>Kolumna rektyfikacyjna (gora)</th>
        <th>Skraplacz</th>
        <th>Metanol</th>
        <th>Uzysk</th>
      </tr>
    </thead>
    <tbody class="my-font">
      <tr *ngFor="let dane of columnsData">
        <td>{{ dane.id }}</td>
        <td>{{ dane.data }}</td>
        <td>{{ dane.tempDestyl }}&deg;C</td>
        <td>{{ dane.tempRektDol }}&deg;C</td>
        <td>{{ dane.tempRektGora }}&deg;C</td>
        <td>{{ dane.tempSkraplacz }}&deg;C</td>
        <td style="color: brown; font-weight: bold">{{ dane.metanol }}%</td>
        <td style="color: darkblue; font-weight: bold">{{ dane.uzysk }}</td>
      </tr>
    </tbody>
  </table>

</div>


